
.join-taskina{
    padding: 50px 0;
    position: relative;
    background: #fff;
    img.tshirt-img {
        width: 100%;
    }
    .join-tleft{
        margin-top: 25%;
    }
    p.tshirt-txt {
    font-size: 23px;
    color: #4c002e;
    margin-bottom: 70px;
}
}
