    
     <section class="join-taskina">
      <div class="container">
    <div class="row">
       <div class="col-lg-5">
           <div class="join-tleft">
           <p class="tshirt-txt">Are you bored of what you're doing? <br>Join Taskina, and do what you like to do.</p>
            <a   class="button-Secondary">Become A Tasker</a>
              </div>
        </div> 
         <div class="col-lg-7 wow fadeInRight" data-wow-delay=".5s">
             <img src="assets/images/tshirt.png" class="tshirt-img">
        </div> 
          </div>
       </div>
  </section>