
<section class="opportunities">
  <div class="container">
<h2 class="section-title wow fadeInUp">Opportunities just a few clicks away</h2>
<p class="sub-title wow fadeInUp" data-wow-delay="0.5s"><span>Discover the story behind the people that are making the Taskina community great, how and why they do what they do.</span></p>
<div class="row wow fadeInUp" data-wow-delay=".5s">
   <div class="col-lg-12">
      <div class="task-section">
         <div class="task-bar">
            <div class="task-search">
               <input type="text" class="input-task-search" placeholder="Searh for a task">
               <i class="search-ico"></i>
            </div>
            <div class="task-alphabet">
               <!--Apply 'active' class name which is selected/active -->
               <span class="active"><a href="">A</a></span>
               <span><a href="">B</a></span>
               <span><a href="">C</a></span>
               <span><a href="">D</a></span>
               <span><a href="">E</a></span>
               <span><a href="">F</a></span>
               <span><a href="">G</a></span>
               <span><a href="">H</a></span>
               <span><a href="">L</a></span>
               <span><a href="">N</a></span>
               <span><a href="">O</a></span>
               <span><a href="">P</a></span>
               <span><a href="">R</a></span>
               <span><a href="">S</a></span>
               <span><a href="">T</a></span>
               <span><a href="">V</a></span>
               <span><a href="">W</a></span>
            </div>
         </div>
         <div class="task-result">
            <div class="task-acc">
               <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link active" href="#accounting" role="tab" data-toggle="tab">Accounting</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#administration" role="tab" data-toggle="tab">Administration</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#alterations" role="tab" data-toggle="tab">Alterations</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#appliances" role="tab" data-toggle="tab">Appliances</a>
                  </li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="accounting">
                     <div class="serach-list">
                        <a href="">Analysis</a>
                        <a href="">Data Analyst</a>
                        <a href="">Data Entry</a>
                        <a href="">Document Filing</a>
                        <a href="">Document Formatting</a>
                        <a href="">Hr Advisor</a>
                        <a href="">Office Administrator</a>
                        <a href="">Office Work</a>
                        <a href="">Online Research</a>
                        <a href="">Pdf to Doc</a>
                        <a href="">Personal Assistant</a>
                        <a href="">Planning</a>
                        <a href="">Receipts Organisation</a>
                        <a href="">Research Assistant</a>
                        <a href="">Spreadsheets</a>
                        <a href="">Typing</a>
                        <a href="">Virtual Assistant</a>
                        <a href="">Word Processing</a>
                     </div>
                     <a   class="button-Secondary">Get it done</a>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="administration">
                     <div class="serach-list">
                        <a href="">Virtual Assistant</a>
                        <a href="">Word Processing</a>
                        <a href="">Document Filing</a>
                        <a href="">Document Formatting</a>
                        <a href="">Hr Advisor</a>
                        <a href="">Office Administrator</a>
                        <a href="">Office Work</a>
                        <a href="">Online Research</a>
                        <a href="">Pdf to Doc</a>
                        <a href="">Analysis</a>
                        <a href="">Data Analyst</a>
                        <a href="">Data Entry</a>
                        <a href="">Personal Assistant</a>
                        <a href="">Planning</a>
                        <a href="">Receipts Organisation</a>
                        <a href="">Research Assistant</a>
                        <a href="">Spreadsheets</a>
                        <a href="">Typing</a>
                     </div>
                     <a   class="button-Secondary">Get it done</a>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="alterations">
                     <div class="serach-list">
                        <a href="">Office Administrator</a>
                        <a href="">Office Work</a>
                        <a href="">Online Research</a>
                        <a href="">Pdf to Doc</a>
                        <a href="">Receipts Organisation</a>
                        <a href="">Research Assistant</a>
                        <a href="">Spreadsheets</a>
                        <a href="">Typing</a>
                        <a href="">Analysis</a>
                        <a href="">Data Analyst</a>
                        <a href="">Data Entry</a>
                        <a href="">Personal Assistant</a>
                        <a href="">Planning</a>
                     </div>
                     <a   class="button-Secondary">Get it done</a>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="appliances">
                     <div class="serach-list">
                        <a href="">Personal Assistant</a>
                        <a href="">Planning</a>
                        <a href="">Pdf to Doc</a>
                        <a href="">Receipts Organisation</a>
                        <a href="">Research Assistant</a>
                        <a href="">Spreadsheets</a>
                        <a href="">Typing</a>
                        <a href="">Analysis</a>
                        <a href="">Office Administrator</a>
                        <a href="">Office Work</a>
                        <a href="">Online Research</a>
                        <a href="">Data Analyst</a>
                        <a href="">Data Entry</a>
                     </div>
                     <a   class="button-Secondary">Get it done</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</section>
