<div class="account-info-wrapper">
    <div class="member-profile-area">
        <div class="profile-member-name">
           <span class="name">Change Password</span>
        </div>
    </div>
</div>
<div class="account-form-wrap passowrd-from">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-wrap">
            <p>Please provide your Password information</p>
            <div class="form-group alternate">
                <input type="password" class="pInput" placeholder required tabindex="1" name="curr_pass"
                    [(ngModel)]="changePassword.current_password"  required #currentPassword="ngModel">
                <label class="placeholder">Current Password</label>
                
            <div *ngIf="
            currentPassword.errors &&
            (currentPassword.dirty || currentPassword.touched || f.submitted)
          " [ngClass]="'error'">
          <div *ngIf="currentPassword.errors.required">
            Current Password is required!
          </div>
        </div>

            </div>
            <div class="form-group">
                <input type="password"  class="pInput" placeholder required tabindex="2" name="new_pass"
                    [(ngModel)]="changePassword.new_password"  #password="ngModel"
                    minlength="6"
                    required >
                <label class="placeholder">
                    New Password
                </label>   

            <div *ngIf="
                password.errors &&
                (password.dirty || password.touched || f.submitted)
              " [ngClass]="'error'" class="text-danger">
              <div *ngIf="password.errors.required">
                New Password is required!
              </div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters long!
              </div>
            </div>

            </div>
            <div class="form-group alternate">
                <input type="password" class ="pInput" placeholder required tabindex="3" name="confirm_pass"
                    [(ngModel)]="changePassword.password_confirmation"  #cPassword="ngModel"
                    required>

                <label class="placeholder">
                    Repeat Password</label>
                    <div *ngIf="changePassword.new_password != changePassword.password_confirmation
                    ||(cPassword.dirty || cPassword.touched || f.submitted)
                  " [ngClass]="'error'">
                  <div *ngIf="cPassword.errors">
                    Repeat Password is required!
                  </div>
                  <div *ngIf="!cPassword.errors && changePassword.new_password != changePassword.password_confirmation">
                   Password does not match!
                  </div>
                </div>
            </div>

            <span class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</span>
            <span class="text-success" *ngIf="successMsg">{{ successMsg }}</span>

            <div class="acc-btn">
                <!-- <input type="submit" class=" btn button-Secondary"></a> -->
                <input type="submit"  class="button-Secondary " value="Update Password">
            </div>


        </div>
    </form>
</div>