<div class="member-date-detail member-map">
  <span class="due-date">Location</span>
  <span class="due-time">{{ taskData.location }}</span>
  <span class="due-map"><img src="assets/images/member-map.jpg"/></span>
</div>

<div class="member-date-detail member-social">
  <span class="due-date">Share it</span>
  <ul class="social-task-member">
    <li>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
  </ul>
  <ul class="task-link">
    <li><a>Post Similar Task</a></li>
    <li><a>Setup Alerts</a></li>
    <li><a>Edit Task</a></li>
  </ul>
  <span class="task-report"
    ><a href=""
      ><i class="fa fa-flag-o" aria-hidden="true"></i> Report this task</a
    ></span
  >
</div>
