<section class="tasker-tab">
  <div class="container">
<h2 class="section-title red-leaf wow fadeInUp">Some of Our Taskers you will come Across</h2>
<p class="sub-title wow fadeInUp" data-wow-delay="0.5s">Learn about their stories and see how they are passional about what they do</p>
<div class="tab-sec">
      <ul class="nav nav-tabs" id="TaskerTab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="home-tab" data-toggle="tab" href="#sara" role="tab" aria-controls="sara" aria-selected="true">sara</a>
</li>
<li class="nav-item">
<a class="nav-link" id="profile-tab" data-toggle="tab" href="#bob" role="tab" aria-controls="bob" aria-selected="false">bob</a>
</li>
<li class="nav-item">
<a class="nav-link" id="contact-tab" data-toggle="tab" href="#marcia" role="tab" aria-controls="marcia" aria-selected="false">marcia</a>
</li>
</ul>
<div class="tab-content" id="TaskerTabContent">
<div class="tab-pane fade show active" id="sara" role="tabpanel" aria-labelledby="home-tab">

<div class="tab-content-area">
<div class="tab-right">
    <img src="assets/images/user1.png" class="tasker-img">
    <h3>Sara</h3>
    <p class="tc-first-para">Specialities: Home décor, Wall painting, Gardening </p>
    <p class="tc-sec-para">Nimble-witted and lively, she is a wonderful addition to the list of taskers. Being an art student this helps her to support herself without burdening her.  </p>
    <div class="tc-btm">
    <div class="tcb-left">
        <span class="tcb-name">trust</span>
        <span class="tcb-start"><img src="assets/images/star.png"></span>
        <span class="tcb-rating"><span class="get-score">4.9</span> stars from <span class="total-reviews">185</span> reviews</span>
      </div>
    <div class="tcb-right">
        <p class="tcb-para">I love my refashioned house. She is definitely coming every month to my house. Thanks.</p>
        <a href="" class="ut-link">Linda</a>
        </div>
    </div>
    
    <div class="tab-id">
    <span class="id-f">Digital iD</span>
    <span class="id-s">Police Check</span>
    </div>
</div>
</div>
</div>
<div class="tab-pane fade" id="bob" role="tabpanel" aria-labelledby="profile-tab">

 <div class="tab-content-area">
<div class="tab-right">
    <img src="assets/images/user2.png" class="tasker-img">
    <h3>Bob</h3>
    <p class="tc-first-para">Specialities: Account management, Financial Reporting, Budget help </p>
    <p class="tc-sec-para">Nimble-witted and lively, she is a wonderful addition to the list of taskers. Being an art student this helps her to support herself without burdening her.  </p>
    <div class="tc-btm">
    <div class="tcb-left">
        <span class="tcb-name">trust</span>
        <span class="tcb-start"><img src="assets/images/star.png"></span>
        <span class="tcb-rating"><span class="get-score">4.9</span> stars from <span class="total-reviews">85</span> reviews</span>
      </div>
    <div class="tcb-right">
        <p class="tcb-para">Bod has saved my business, Literally</p>
        <a href="" class="ut-link">Cooper</a>
        </div>
    </div>
    
    <div class="tab-id">
    <span class="id-f">Digital iD</span>
    <span class="id-s">Police Check</span>
    </div>
</div>
</div>

</div>
<div class="tab-pane fade" id="marcia" role="tabpanel" aria-labelledby="contact-tab">

 <div class="tab-content-area">
<div class="tab-right">
    <img src="assets/images/user1.png" class="tasker-img">
    <h3>Marcia</h3>
    <p class="tc-first-para">Specialities: Home décor, Wall painting, Gardening </p>
    <p class="tc-sec-para">Nimble-witted and lively, she is a wonderful addition to the list of taskers. Being an art student this helps her to support herself without burdening her.  </p>
    <div class="tc-btm">
    <div class="tcb-left">
        <span class="tcb-name">trust</span>
        <span class="tcb-start"><img src="assets/images/star.png"></span>
        <span class="tcb-rating"><span class="get-score">4.9</span> stars from <span class="total-reviews">185</span> reviews</span>
      </div>
    <div class="tcb-right">
        <p class="tcb-para">I love my refashioned house. She is definitely coming every month to my house. Thanks.</p>
        <a href="" class="ut-link">Linda</a>
        </div>
    </div>
    
    <div class="tab-id">
    <span class="id-f">Digital iD</span>
    <span class="id-s">Police Check</span>
    </div>
</div>
</div>

</div>
</div>
    </div>
       
<div class="text-center padd-80">
   <a   class="button-Secondary">Become A Tasker</a>
</div>
      
</div>
</section>
