<section class="using-taskina">
    <div class="container width-1240">
       <div class="row align-items-center">
          <div class="col-lg-5 col-md-12">
             <div class="round-animation">
                <div class="video-box">
                   <img class="img-fluid" src="assets/images/using-stock.png" alt="">
                   <div class="video-btn video-btn-pos"> <a href=""></a>
                   </div>
                </div>
                <a type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/zgg1xGSGw0s" data-target="#myModal">
                  <img src="assets/images/video-play.png">
                </a>
             </div>
          </div>
          <div class="col-lg-6 col-md-12 ut-right">
             <h2 class="section-title no-leaf wow fadeInUp txt-left">Using Taskina</h2>
             <p class="ut-right-p">Finishing what you started or are putting off for another day can be efficiently and easily dealt with at Taskina with a few steps.</p>
             <div class="set-cat">
                <div class="work-process style-2">
                   <div class="work-process-inner">
                      <span class="step-num">01</span>
                      <h4>Post your Task</h4>
                      <p class="mb-0">It’s free to put up your task.</p>
                   </div>
                </div>
                <div class="work-process style-2">
                   <div class="work-process-inner">
                      <span class="step-num">02</span>
                      <h4>Select Person of your choice</h4>
                      <p class="mb-0">View profiles and the offers to pick the person you think is suitable.</p>
                   </div>
                </div>
                <div class="work-process style-2">
                   <div class="work-process-inner">
                      <span class="step-num">03</span>
                      <h4>It’s a done deal then</h4>
                      <p class="mb-0">With the person chosen it won’t be long before your work gets done.</p>
                      <p class="mb-0 cmn-txt">Unwinding yourself after getting the task that mocks you everytime you open up your to-do list is reviving.</p>
                      <br>
                      <a   class="ut-link">So hurry up and get started!</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog video-modal" role="document">
          <div class="modal-content">
      
            
            <div class="modal-body video-modal">
      
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>        
              <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zgg1xGSGw0s" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
      </div>
             
              
            </div>
      
          </div>
        </div>
      </div>
          
 </section>
