<section class="peek-activities delighter" data-delighter="start:0.4">
        <div class="container">
      <h2 class="section-title red-leaf wow fadeInUp">A Peek At The Activities Going On</h2>
      <p class="sub-title wow fadeInUp" data-wow-delay="0.5s"><span>37</span> jobs live - <span>10</span> added today.</p>
      <div class="row wow fadeInUp" data-wow-delay="1s">
         <div class="col-lg-4 col-md-12 activities">
            <div class="activities-box a-box">
               <h2 class="activities-title">Home Services</h2>
               <p class="activities-para">Got a few boxes to shift, an apartment or entire house? Get your home moved just the way you want, by whom you want, when you want. Let Taskina shoulder the load.</p>
            </div>
            <div class="more-products-nav">
               <div class="vertical-slider">
                  <div class="vs-slides">
                     <div class="vs-slides-inner">
                        <div class="vs-products-outer">
                           <div class="vs-products clearfix vs-row-1 active" data-row-num="1">
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-a.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>DELIVERY</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-a"><b>$</b>70</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-b.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Make marketing leaflet look professional</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>45</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-d.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>ASSEMBLY</h4>
                                    <span>Ghost blog writer / contributor | B2B audience</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>50</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-c.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>150</span></div>
                              </a>
                           </div>
                           <!-- .vs-products -->
                           <div class="vs-products clearfix vs-row-2" data-row-num="2">
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-a.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>DELIVERY</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-a"><b>$</b>70</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-d.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>ASSEMBLY</h4>
                                    <span>Ghost blog writer / contributor | B2B audience</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>50</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-b.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Make marketing leaflet look professional</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>45</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-c.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>150</span></div>
                              </a>
                           </div>
                           <!-- .vs-products -->
                        </div>
                        <!-- .vs-products-outer -->
                     </div>
                     <div class="vs-controls">
                        <div class="vs-control up deactivate"><i></i></div>
                        <div class="vs-control down"><i></i></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-12 activities">
            <div class="activities-box b-box">
               <h2 class="activities-title">Business and Professional</h2>
               <p class="activities-para">Taking a big leap and need some expert advice or assistance? Taskina can help you get some cracking marketing collateral, admin muscle or a few extra hands to help ease the burden.</p>
            </div>
             <div class="more-products-nav" id="business">
               <div class="vertical-slider">
                  <div class="vs-slides">
                     <div class="vs-slides-inner">
                        <div class="vs-products-outer">
                           <div class="vs-products clearfix vs-row-1 active" data-row-num="1">
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-a.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>DELIVERY</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-a"><b>$</b>70</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-b.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Make marketing leaflet look professional</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>45</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-d.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>ASSEMBLY</h4>
                                    <span>Ghost blog writer / contributor | B2B audience</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>50</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-c.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>150</span></div>
                              </a>
                           </div>
                           <!-- .vs-products -->
                           <div class="vs-products clearfix vs-row-2" data-row-num="2">
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-a.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>DELIVERY</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-a"><b>$</b>70</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-d.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>ASSEMBLY</h4>
                                    <span>Ghost blog writer / contributor | B2B audience</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>50</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-b.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Make marketing leaflet look professional</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>45</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-c.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>150</span></div>
                              </a>
                           </div>
                           <!-- .vs-products -->
                        </div>
                        <!-- .vs-products-outer -->
                     </div>
                     <div class="vs-controls">
                        <div class="vs-control up deactivate"><i></i></div>
                        <div class="vs-control down"><i></i></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-12 activities">
            <div class="activities-box c-box">
               <h2 class="activities-title">Launching Events</h2>
               <p class="activities-para">Do you have a hole in the wall that needs plugging? Perhaps a TV that needs mounting? Or maybe you have that perfect shade of green, but no time to paint? Get a Tasker to help.</p>
            </div>
              <div class="more-products-nav" id="event">
               <div class="vertical-slider">
                  <div class="vs-slides">
                     <div class="vs-slides-inner">
                        <div class="vs-products-outer">
                           <div class="vs-products clearfix vs-row-1 active" data-row-num="1">
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-a.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>DELIVERY</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-a"><b>$</b>70</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-b.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Make marketing leaflet look professional</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>45</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-d.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>ASSEMBLY</h4>
                                    <span>Ghost blog writer / contributor | B2B audience</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>50</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-c.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>150</span></div>
                              </a>
                           </div>
                           <!-- .vs-products -->
                           <div class="vs-products clearfix vs-row-2" data-row-num="2">
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-a.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>DELIVERY</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-a"><b>$</b>70</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-d.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>ASSEMBLY</h4>
                                    <span>Ghost blog writer / contributor | B2B audience</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>50</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-b.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Make marketing leaflet look professional</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>45</span></div>
                              </a>
                              <a   class="vs-product">
                                 <div class="vs-image">
                                    <img class="img-responsive" src="assets/images/activity-user-c.jpg">
                                 </div>
                                 <div class="vs-title">
                                    <h4>REMOVALS</h4>
                                    <span>Deliver boxes to storage</span>
                                 </div>
                                 <div class="vs-price"><span class="color-b"><b>$</b>150</span></div>
                              </a>
                           </div>
                           <!-- .vs-products -->
                        </div>
                        <!-- .vs-products-outer -->
                     </div>
                     <div class="vs-controls">
                        <div class="vs-control up deactivate"><i></i></div>
                        <div class="vs-control down"><i></i></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
             
      <div class="text-center padd-80">
         <a   class="button-primary">Get Started Now</a>
      </div>
      <div class="pillow-image">
         <img src="assets/images/activity-right-leaf.png" alt="" draggable="false">
      </div>
   </div>
     </section>
  