<div class="dashboard">
  <taskina-dashboard-header></taskina-dashboard-header>

  <section class="dashboard-area-wraper dashboard-profile-wrapper">
      <div class="container">
          <div class="row">
              <div class="profile-member-wrapper">
                  <div class="dashboard-box-area profile-details">
                      <div class="member-profile-area">
                          <div class="profile-member-pic">
                              <span class="box-profile-image"><img src="assets/images/user2.png"></span>
                          </div>
                          <div class="profile-member-name">
                              <span class="name">Rey Mibourne</span>
                              <span class="rating">
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                                  <i class="fa fa-star-o" aria-hidden="true"></i>
                              </span>
                          </div>
                      </div>
                      <div class="profile-status-wrapper">
                          <div class="loading">
                              <span class="profile-status-txt">Lorem Ipsum is simply dummy</span>
                              <span></span>
                          </div>
                          <div class="status-details">
                              <ul>
                                  <li class="active"><span>Account</span></li>
                                  <li><span>Profile</span></li>
                                  <li><span>Badges</span></li>
                                  <li><span>Skills</span></li>
                              </ul>
                              <div class="profile-percent">
                                  <span class="complete-percent">Your profile is 18% complete</span>
                                  <a href="#">Complete your proflie</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="dashboard-box-area profile-details announcement-wrapper">
                      <div class="member-profile-area">
                          <div class="profile-member-pic">
                              <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                          </div>
                          <div class="profile-member-name">
                              <span class="name">Announcements</span>
                              <span class="short-txt">Short info text</span>
                          </div>
                      </div>

                      <div class="announcement-details-wrap">
                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span class="name">Lorem Ipsum is simply</span>
                                  <span class="short-txt">dummy text of printing</span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="dashboard-box-area profile-details announcement-wrapper notification-wrapper">
                      <div class="member-profile-area">
                          <div class="profile-member-pic">
                              <span class="box-profile-image"><img src="assets/images/notification.png"></span>
                          </div>
                          <div class="profile-member-name">
                              <span class="name">Notifications</span>
                              <span class="short-txt">Short info text</span>
                          </div>
                      </div>

                      <div class="announcement-details-wrap">
                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span class="name">Lorem Ipsum is simply</span>
                                  <span class="short-txt">dummy text of printing</span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="announcement-details">
                              <div class="profile-member-pic">
                                  <span class="box-profile-image"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                              </div>
                              <div class="profile-member-name">
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="profile-detail-wrapper">
                  <div class="task-result">
                      <div class="task-acc">
                          <ul class="nav nav-tabs" role="tablist">
                              <span class="tabs-title">Get it done today</span>
                              <li class="nav-item">
                                  <a class="nav-link" href="#astasker" role="tab" data-toggle="tab">
                                      <span class="title">As a Tasker</span>
                                      <span class="desc">I'm looking for work in ...</span>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" href="#asposter" role="tab" data-toggle="tab">
                                      <span class="title">As a Poster</span>
                                      <span class="desc">I need to hire someone for ...</span>
                                  </a>
                              </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade" id="astasker">
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span class="task-tab-detail">Lorem Ipsum is simply</span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="btn-wrapper">
                                      <a href="#" class="button-Secondary">Post a Task</a>
                                  </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade in active" id="asposter">
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span class="task-tab-detail">Lorem Ipsum is</span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span class="task-tab-detail">Lorem Ipsum is</span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="btn-wrapper">
                                      <a href="#" class="button-Secondary">Post a Task</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="task-result task-summary">
                      <div class="task-acc">
                          <ul class="nav nav-tabs" role="tablist">
                              <span class="tabs-title">My Tasks Summary</span>
                              <li class="nav-item">
                                  <a class="nav-link active" href="#astasker2" role="tab" data-toggle="tab">
                                      <span class="title">As a Tasker</span>
                                      <span class="desc">I'm looking for work in ...</span>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#asposter2" role="tab" data-toggle="tab">
                                      <span class="title">As a Poster</span>
                                      <span class="desc">I need to hire someone for ...</span>
                                  </a>
                              </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade in active" id="astasker2">
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span></span>
                                  </div>
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span class="task-tab-detail">Lorem Ipsum is simply</span>
                                  </div>
                                  
                                  <div class="btn-wrapper">
                                      <a href="#" class="button-Secondary">Post a Task</a>
                                  </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="asposter2">
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span class="task-tab-detail">Lorem Ipsum</span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="task-tab-list">
                                      <a href=""></a>
                                      <span></span>
                                  </div>
                                  
                                  <div class="btn-wrapper">
                                      <a href="#" class="button-Secondary">Post a Task</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>