<footer>
     <div class="container width-1240">
     <div class="row align-items-center">
          <div class="col-lg-5 col-md-12">
              <div class="footer-a">
                  <img src="assets/images/f-logo.png" class="footer-logo">
                 <p>Taskina is a trusted community platform that connects people who need to outsource tasks and find local services, with people who are looking to earn money and ready to work. <br><br>
 
 From simple to complicated tasks, Taskina can help you complete your home cleaning, handyman jobs, admin work, photography, graphic design or even build a website.</p>
                  
                  <div class="footer-icon">
                  <a href="" class="f-fb"><img src="assets/images/f-facebook.png"></a>
                    &nbsp;<a href="" class="f-tw"><img src="assets/images/f-twitter.png"></a>
                    &nbsp;<a href="" class="f-it"><img src="assets/images/f-instagram.png"></a>
                  </div>
              </div>
         </div>
         <div class="col-lg-4 col-md-12">
              <div class="footer-b">
                 <h2 class="discover">Discover</h2>
                  <div class="f-link">
                  <ul>
                  <li><a href="">How it works</a></li> 
                  <li><a href="">Our Team</a></li>  
                  <li><a href="">Earn money</a></li>    
                  <li><a href="">Blog</a></li>   
                  <li><a href="">New users FAQ</a></li> 
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">Find work</a></li>     
                  <li><a href="">Terms & Condition</a></li>     
                  <li><a href="">Contact Us</a></li>     
                 </ul>
                  </div>
                  
                  <div class="app">
                  <a href=""><img src="assets/images/app-1.png"></a>
                  <a href=""><img src="assets/images/app-2.png"></a>
                  </div>
              </div>
         </div>
         <div class="col-lg-3 col-md-12 flex-start-txt">
              <div class="footer-b">
              <h2 class="contact">Contact Us</h2>
                 <div class="contact-link">
                <a href="mailto:info@taskina.com" class="mail">info@taskina.com</a>
                <a href="tel:+101231234567" class="phone">+1 (0123) 123-4567</a>
                     
                 </div> 
              </div>
         </div>
         </div>
     </div>
         
         <div class="copyright">
         <p>Copyright 2019 | All Rights Reserved</p>
         </div>
     </footer>