// All variable colors
$background-color: gray;
$text-white: #fff;
$nav-color: #555555;
$primary-blue: #4392EF;
$primary-blue-dark: #267AC0;
$primary-orange: #F27601;
$primary-orange-darker: #ea880d;
$primary-orange-light: #FF8410;
$primary-purple: #7C54E4;
$btn-refer-color: #A622F9;
$btn-availability-color: #70CF3F;
$btn-dialog-save-color: #1283D7;
$btn-hire-color: #3F93F4;
$roles-color: #484848;
$primary-white: #fff;